.app-container {
  display: flex;
  min-height: 100vh;
  padding: 0 1rem;
}
.main-content {
  flex: 1;
  padding: 1rem;
  width: 0; /* allows flex children to shrink */
}

@media (max-width: 1024px) {
  .app-container {
    padding: 0;
  }
  .main-content {
    padding: 3rem 0.5rem 1rem 0.5rem; /* added top padding to avoid overlapping with hamburger menu */
    width: 100%;
  }
}
